<!doctype>
<html>
	<meta charset="UTF-8">
	<title>问答网站</title>
	<head>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div class = "navbar">
			<a href="#" class = "navbar-item logo">logo</a>
			<div class="navbar-item">
				<form action="#" method="post">
					<input type="text" name="content" id="SearchContent">
					<input type="submit" value="提交">
				</form>
			</div>
			<div class = "navbar-item right">
				<a href="#" class = "navbar-link">username</a>
				<label class = "navbar-item pos-rel">
					<a href="#" class="navbar-link">detail</a>
					<ul class = "navbar-dropdown dis-none">
						<li class = "navbar-dropdown-item">
							<a href="#" class = "navbar-link">username</a>
						</li>
						<li class = "navbar-dropdown-item">
							<a href="#" class = "navbar-link">userpassword</a>
						</li>
						<li class = "navbar-dropdown-item">
							<a href="#" class = "navbar-link">usernickname</a>
						</li>
					</ul>	
				</label>
				<a href="#" class="navbar-link">info</a>
				<a href="#" class="navbar-link">logout</a>
			</div>
			<div class="clear-both"></div>
		</div>
		<div class="main-wrapper">	
			<div class = "subnavbar">
				<div class="navbar-item right">
					<a href="#" class = "navba-link-reverse">问题</a>
					<a href="#" class = "navba-link-reverse">文档</a>
					<a href="#" class = "navba-link-reverse">标签</a>
					<a href="#" class = "navba-link-reverse">用户</a>
					<a href="#" class = "navba-link-reverse">勋章</a>
				</div>
				<div class="clear-both"></div>
			</div>
			<div class="main-guide pos-rel">
				<h3>引导框：用于介绍社区游戏规则</h3>
				<button>花两分钟逛一逛</button>
				<button>关闭</button>
			</div>
		</div>
	</body>
	<script src = "index.js"></script>
	<script>
		
	</script>
</html>