<!doctype>
<html>
	<meta charset="UTF-8">
	<title>问答网站</title>
	<head>
		<link rel="stylesheet" href="../static/css/index.css">
	</head>
	<body>
		<div class = "navbar">
			<a href="#" class = "navbar-item logo">logo</a>
			<div class="navbar-item">
				<form action="#" method="post">
					<input type="text" name="content" id="SearchContent">
					<input type="submit" value="提交">
				</form>
			</div>
			<div class = "navbar-item right">
				<a href="#" class = "navbar-link">username</a>
				<label class = "navbar-item pos-rel">
					<a href="#" class="navbar-link">detail</a>
					<ul class = "navbar-dropdown dis-none">
						<li class = "navbar-dropdown-item">
							<a href="#" class = "navbar-link">username</a>
						</li>
						<li class = "navbar-dropdown-item">
							<a href="#" class = "navbar-link">userpassword</a>
						</li>
						<li class = "navbar-dropdown-item">
							<a href="#" class = "navbar-link">usernickname</a>
						</li>
					</ul>	
				</label>
				<a href="#" class="navbar-link">info</a>
				<a href="#" class="navbar-link">logout</a>
			</div>
			<div class="clear-both"></div>
		</div>
		<div class="main-wrapper">	
			<div class = "subnavbar">
				<div class="navbar-item right">
					<a href="#" class = "navba-link-reverse">问题</a>
					<a href="#" class = "navba-link-reverse">文档</a>
					<a href="#" class = "navba-link-reverse">标签</a>
					<a href="#" class = "navba-link-reverse">用户</a>
					<a href="#" class = "navba-link-reverse">勋章</a>
				</div>
				<div class="clear-both"></div>
			</div>
			<div class="main-guide pos-rel">
				<h3>引导框：用于介绍社区游戏规则</h3>
				<button>花两分钟逛一逛</button>
				<button>关闭</button>
			</div>
			<div class="content-wrapper">
				<div class="main-content">
					<div class="navbar main-content-title">
						<a href="#" class="navbar-item">动态问答</a>
						<div class="navbar-item right">
							<a href="#" class="navbar-link">最新</a>
							<a href="#" class="navbar-link">热门</a>
							<a href="#" class="navbar-link">未答</a>
						</div>
					</div>
					<ul>
						<li>
							<div class = "content-section">
								<ul class="operation-wrapper">
									<li class="operation">
										<span>1</span><br>
										<span>赞</span>
									</li>
									<li class="operation">
										<span>2</span><br>
										<span>踩</span>
									</li>
									<li class="operation">
										<span>3</span><br>
										<span>浏览</span>
									</li>
								</ul>
								<div class="content-wrapper">
									<h4 class = "content-title">万科地产的质量是怎么控制的？</h4>
									<div class="content-status-wrapper">
										<ul class="tag-wrapper">
											<li class="tag">工程管理</li>
											<li class="tag">工程咨询</li>
										</ul>
										<div class="status-wrapper">
											<span class = "status">2小时前提问</span>
											<span class = "status">鲁班</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class = "content-section">
								<ul class="operation-wrapper">
									<li class="operation">
										<span>1</span><br>
										<span>赞</span>
									</li>
									<li class="operation">
										<span>2</span><br>
										<span>踩</span>
									</li>
									<li class="operation">
										<span>3</span><br>
										<span>浏览</span>
									</li>
								</ul>
								<div class="content-wrapper">
									<h4 class = "content-title">万科地产的质量是怎么控制的？</h4>
									<div class="content-status-wrapper">
										<ul class="tag-wrapper">
											<li class="tag">工程管理</li>
											<li class="tag">工程咨询</li>
										</ul>
										<div class="status-wrapper">
											<span class = "status">2小时前提问</span>
											<span class = "status">鲁班</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class = "content-section">
								<ul class="operation-wrapper">
									<li class="operation">
										<span>1</span><br>
										<span>赞</span>
									</li>
									<li class="operation">
										<span>2</span><br>
										<span>踩</span>
									</li>
									<li class="operation">
										<span>3</span><br>
										<span>浏览</span>
									</li>
								</ul>
								<div class="content-wrapper">
									<h4 class = "content-title">万科地产的质量是怎么控制的？</h4>
									<div class="content-status-wrapper">
										<ul class="tag-wrapper">
											<li class="tag">工程管理</li>
											<li class="tag">工程咨询</li>
										</ul>
										<div class="status-wrapper">
											<span class = "status">2小时前提问</span>
											<span class = "status">鲁班</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class = "content-section">
								<ul class="operation-wrapper">
									<li class="operation">
										<span>1</span><br>
										<span>赞</span>
									</li>
									<li class="operation">
										<span>2</span><br>
										<span>踩</span>
									</li>
									<li class="operation">
										<span>3</span><br>
										<span>浏览</span>
									</li>
								</ul>
								<div class="content-wrapper">
									<h4 class = "content-title">万科地产的质量是怎么控制的？</h4>
									<div class="content-status-wrapper">
										<ul class="tag-wrapper">
											<li class="tag">工程管理</li>
											<li class="tag">工程咨询</li>
										</ul>
										<div class="status-wrapper">
											<span class = "status">2小时前提问</span>
											<span class = "status">鲁班</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class = "content-section">
								<ul class="operation-wrapper">
									<li class="operation">
										<span>1</span><br>
										<span>赞</span>
									</li>
									<li class="operation">
										<span>2</span><br>
										<span>踩</span>
									</li>
									<li class="operation">
										<span>3</span><br>
										<span>浏览</span>
									</li>
								</ul>
								<div class="content-wrapper">
									<h4 class = "content-title">万科地产的质量是怎么控制的？</h4>
									<div class="content-status-wrapper">
										<ul class="tag-wrapper">
											<li class="tag">工程管理</li>
											<li class="tag">工程咨询</li>
										</ul>
										<div class="status-wrapper">
											<span class = "status">2小时前提问</span>
											<span class = "status">鲁班</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<button class = "loading-more">点击加载</button>
				</div>
				<div class="side">
					<ul>
						<li>
							<div class="side-section">
								<h4>社区日志</h4>
								<p>社区日志啦啦啦啦啦啦啦啦啦啦啦啦啦</p>
							</div>
						</li>
						<li>
							<div class="side-section">
								<h4>热门问题:</h4>
								<ul>
									<li>1. ...</li>
									<li>2. ...</li>
									<li>3. ...</li>
									<li>4. ...</li>
									<li>5. ...</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="side-section">
								<h4>今日top10:</h4>
								<ul>
									<li>1. 鲁班</li>
									<li>2. 路人甲</li>
									<li>3. Jay</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src = "../static/script/index.js"></script>
	<script>
		
	</script>
</html>